# Sistemas Inteligentes para Bioinformática

Exemplos de validação de código. Deverá corrigir os imports e diretórios de acordo com a sua implementação.

Verificação e correção dos imports:

In [1]:
import os
#os.getcwd()

In [2]:
os.chdir('C:\\Users\\teres\\Desktop\\Ano2_Bioinf_UM\\sistemas_inteligentes\\novo\\si\\src')

In [3]:
print("Current working directory: {0}".format(os.getcwd()))

Current working directory: C:\Users\teres\Desktop\Ano2_Bioinf_UM\sistemas_inteligentes\novo\si\src

In [4]:
from si.data import Dataset
from si.util import util

In [5]:
DIR = os.path.dirname(os.path.realpath('.'))
filename = os.path.join(DIR, 'datasets/breast-bin.data')

# Labeled dataset

In [6]:
dataset = Dataset.from_data(filename, labeled=True)

Seleção de 5 linhas e de todas as colunas (variável independente):

In [7]:
dataset.X[:5, :]

array([[8., 4., 4., 1., 2., 9., 3., 3., 1.],
       [5., 1., 1., 3., 2., 1., 1., 1., 1.],
       [2., 1., 1., 1., 3., 1., 2., 1., 1.],
       [2., 1., 1., 1., 2., 1., 3., 1., 1.],
       [9., 5., 8., 1., 2., 3., 2., 1., 5.]])

Cinco linhas de Y (variável dependente):

In [8]:
dataset.Y[:5]

array([1., 0., 0., 0., 1.])

In [9]:
print("Has label:", dataset.hasLabel())                 # verifica se tem variável dependente
print("Number of features:", dataset.getNumFeatures())  # Retorna o número de features, que neste caso são 9 colunas
print("Number of classes:", dataset.getNumClasses())    # Dá o número de labels

Has label: True
Number of features: 9
Number of classes: 2

In [10]:
util.summary(dataset)

,A,B,C,D,E,F,G,H,I,Y
mean,4.417740,3.134478,3.207439,2.806867,3.216023,3.486409,3.437768,2.866953,1.589413,0.344778
var,7.917053,9.298082,8.819630,8.141527,4.896110,13.099601,5.937114,9.311340,2.937284,0.225906
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000

In [11]:
dataset.toDataframe()

       A    B    C    D    E     F    G    H    I    Y
0    8.0  4.0  4.0  1.0  2.0   9.0  3.0  3.0  1.0  1.0
1    5.0  1.0  1.0  3.0  2.0   1.0  1.0  1.0  1.0  0.0
2    2.0  1.0  1.0  1.0  3.0   1.0  2.0  1.0  1.0  0.0
3    2.0  1.0  1.0  1.0  2.0   1.0  3.0  1.0  1.0  0.0
4    9.0  5.0  8.0  1.0  2.0   3.0  2.0  1.0  5.0  1.0
..   ...  ...  ...  ...  ...   ...  ...  ...  ...  ...
694  1.0  1.0  1.0  1.0  4.0   3.0  1.0  1.0  1.0  0.0
695  5.0  3.0  1.0  2.0  2.0   1.0  2.0  1.0  1.0  0.0
696  5.0  2.0  2.0  2.0  2.0   1.0  1.0  1.0  2.0  0.0
697  2.0  3.0  2.0  2.0  2.0   2.0  3.0  1.0  1.0  0.0
698  7.0  6.0  6.0  3.0  2.0  10.0  7.0  1.0  1.0  1.0

[699 rows x 10 columns]

# Standard Scaler

In [12]:
from si.util import StandardScaler
sc = StandardScaler()
ds2 = sc.fit_transform(dataset)
util.summary(ds2)

,A,B,C,D,E,F,G,H,I,Y
mean,-5.034917e-17,2.361805e-16,1.224581e-16,2.816059e-16,2.681054e-16,-6.480272e-16,4.034287e-17,-2.642934e-16,-7.290306e-17,0.344778
var,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.225906
max,1.983939e+00,2.251526e+00,2.287222e+00,2.520955e+00,3.065906e+00,1.799664e+00,2.693171e+00,2.337594e+00,4.907421e+00,1.000000
min,-1.214667e+00,-6.999951e-01,-7.432990e-01,-6.332472e-01,-1.001495e+00,-6.869792e-01,-1.000471e+00,-6.118250e-01,-3.439118e-01,0.000000

# Feature Selection

In [13]:
from si.data.feature_selection import f_classification, SelectKBest, VarianceThreshold

# Variance Treshold

In [14]:
#from si.data.feature_selection import VarianceThreshold

Features em que a Variância é maior do que o threshold (8):

In [15]:
vt = VarianceThreshold(8)
ds2 = vt.fit_transform(dataset)
util.summary(ds2)

              B          C          D          F          H         Y
mean   3.134478   3.207439   2.806867   3.486409   2.866953  0.344778
var    9.298082   8.819630   8.141527  13.099601   9.311340  0.225906
max   10.000000  10.000000  10.000000  10.000000  10.000000  1.000000
min    1.000000   1.000000   1.000000   1.000000   1.000000  0.000000

# SelectKBest

In [16]:
# SelectKBest for classification
skb = SelectKBest(5, f_classification)
ds3 = skb.fit_transform(dataset)
util.summary(ds3)

              A          B          C          F          G         Y
mean   4.417740   3.134478   3.207439   3.486409   3.437768  0.344778
var    7.917053   9.298082   8.819630  13.099601   5.937114  0.225906
max   10.000000  10.000000  10.000000  10.000000  10.000000  1.000000
min    1.000000   1.000000   1.000000   1.000000   1.000000  0.000000

# Clustering

In [17]:
from si.unsupervised import KMeans
import pandas as pd
import matplotlib.pyplot as plt

ImportError: cannot import name 'KMeans' from 'si.unsupervised' (C:\Users\teres\Desktop\Ano2_Bioinf_UM\sistemas_inteligentes\novo\si\src\si\unsupervised\__init__.py)

In [ ]:
# o dataset iris nao estava inicialmente no github
filename = os.path.join(DIR, 'datasets/iris.data')
df = pd.read_csv(filename)
iris = Dataset.from_dataframe(df,ylabel="class")

In [ ]:
# indice das features para o plot
c1 = 0
c2 = 1
# plot
plt.scatter(iris.X[:,c1], iris.X[:,c2])
plt.xlabel(iris._xnames[c1])
plt.ylabel(iris._xnames[c2])
plt.show()

In [ ]:
kmeans = KMeans(3)
cent, clust = kmeans.fit_transform(iris)

In [ ]:
plt.scatter(iris.X[:,c1], iris.X[:,c2],c=clust)
plt.scatter(cent[:,c1],cent[:,c2], s = 100, c = 'black',marker='x')
plt.xlabel(iris._xnames[c1])
plt.ylabel(iris._xnames[c2])
plt.show()
# podem obter clusterings diferentes já que estes dependem da escolha dos centroids iniciais

# PCA

In [ ]:
from si.unsupervised import PCA
pca = PCA(2, using='svd')

In [ ]:
reduced = pca.fit_transform(iris)
print(pca.variance_explained())

In [ ]:
iris_pca = Dataset(reduced,iris.y,xnames=['pc1','pc2'],yname='class')
iris_pca.toDataframe()

In [ ]:
plt.scatter(iris_pca.X[:,0], iris_pca.X[:,1])
plt.xlabel("PC1")
plt.ylabel("PC2")
plt.show()