# Ensemble (voting)

In [1]:
import os
os.chdir('C:\\Users\\teres\\Desktop\\Ano2_Bioinf_UM\\sistemas_inteligentes\\novo\\si\\src')

In [2]:
from si.data import Dataset
from si.util import util 
from si.util.util import summary
from si.util.cv import CrossValidationScore

In [3]:
DIR = os.path.dirname(os.path.realpath('.'))
filename = os.path.join(DIR, 'datasets/breast-bin.data')
dataset = Dataset.from_data(filename)
summary(dataset)

,A,B,C,D,E,F,G,H,I,Y
mean,4.417740,3.134478,3.207439,2.806867,3.216023,3.486409,3.437768,2.866953,1.589413,0.344778
var,7.917053,9.298082,8.819630,8.141527,4.896110,13.099601,5.937114,9.311340,2.937284,0.225906
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000

In [4]:
# Use accuracy as scorring function
from si.util.metrics import accuracy_score

### Decision Tree

In [5]:
from si.supervised.dt import DecisionTree

In [6]:
dt = DecisionTree()

In [7]:
cv = CrossValidationScore(dt,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

   Train Scores  Test Scores
0      0.951699     0.942857
1      0.964222     0.921429
2      0.949911     0.950000

### Logistic regression

In [8]:
from si.supervised.logreg import LogisticRegression
logreg = LogisticRegression()

In [9]:
cv = CrossValidationScore(logreg,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

   Train Scores  Test Scores
0      0.876565     0.942857
1      0.883721     0.914286
2      0.889088     0.885714

### KNN

In [10]:
from si.supervised.knn import KNN

In [11]:
knn = KNN(7)

In [12]:
cv = CrossValidationScore(knn,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

   Train Scores  Test Scores
0      0.976744     0.964286
1      0.976744     0.950000
2      0.978533     0.971429

## Ensemble

In [13]:
def fvote(preds):
    return max(set(preds), key=preds.count)

In [14]:
from si.supervised.ensemble import Ensemble
en = Ensemble([dt,logreg,knn],fvote,accuracy_score)

In [15]:
cv = CrossValidationScore(en,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

   Train Scores  Test Scores
0      0.960644     0.942857
1      0.960644     0.942857
2      0.960644     0.971429

In [16]:
from si.util.metrics import ConfusionMatrix
cm = ConfusionMatrix(cv.true_Y, cv.pred_Y)
cm.toDataframe()

Predicted values    0    1
True values
0.0               256   14
1.0                 6  144