# Ensemble (voting)

In [1]:
import os
os.chdir('C:\\Users\\teres\\Desktop\\Ano2_Bioinf_UM\\sistemas_inteligentes\\novo\\si\\src')

In [2]:
from si.data import Dataset
from si.util import util 
from si.util.util import summary
from si.util.cv import CrossValidationScore
import os

In [3]:
DIR = os.path.dirname(os.path.realpath('.'))
filename = os.path.join(DIR, 'datasets/breast-bin.data')
dataset = Dataset.from_data(filename)
summary(dataset)

,A,B,C,D,E,F,G,H,I,Y
mean,4.417740,3.134478,3.207439,2.806867,3.216023,3.486409,3.437768,2.866953,1.589413,0.344778
var,7.917053,9.298082,8.819630,8.141527,4.896110,13.099601,5.937114,9.311340,2.937284,0.225906
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000

In [4]:
# Use accuracy as scorring function
from si.util.metrics import accuracy_score

### Decision Tree

In [5]:
from si.supervised.dt import DecisionTree

In [6]:
dt = DecisionTree()

In [7]:
cv = CrossValidationScore(dt,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

   Train Scores  Test Scores
0      0.951699     0.950000
1      0.946333     0.907143
2      0.958855     0.942857

### Logistic regression

In [10]:
from si.supervised.logreg import LogisticRegression
logreg = LogisticRegression()

In [11]:
cv = CrossValidationScore(logreg,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

   Train Scores  Test Scores
0      0.453075     0.468747
1      0.457715     0.452534
2      0.451263     0.483072

### KNN

In [13]:
from si.supervised.knn import KNN

ImportError: cannot import name 'accuracy_score' from 'si.util.util' (C:\Users\teres\Desktop\Ano2_Bioinf_UM\sistemas_inteligentes\novo\si\src\si\util\util.py)

In [ ]:
knn = KNN(7)

In [ ]:
cv = CrossValidationScore(knn,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

## Ensemble

In [ ]:
def fvote(preds):
    return max(set(preds), key=preds.count)

In [ ]:
from si.supervised.ensemble import Ensemble
en = Ensemble([dt,logreg,knn],fvote,accuracy_score)

In [ ]:
cv = CrossValidationScore(en,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()